@font-face
{
    font-family: xkcd;
    src: url(xkcd-Regular.otf);
}

body
{
    align-items: center;
    background: #96a8c8;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
}

header
{
    background: #6e7b91;
    color: #ffffff;
    width: 100%;
}

header > div
{
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

#logo
{
    font-family: Helvetica, Arial, Sans-Serif;
}

#logo > a
{
    color: #ffffff;
    text-decoration: none;
}

#logo .xkcd-font
{
    font-size: 0.5em;
}

.xkcd-font
{
    font-family: xkcd;
}

#xkcd-form
{
    flex-grow: 1;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    margin-left: auto;
    text-align: right;
}

#url-input
{
    border: 0;
    box-sizing: padding-box;
    height: 40px;
    padding: 0 1em;
    width: 420px;
}

#url-input:focus
{
    box-shadow: inset 0 0 1px 1px #99ddee;
}

#xkcd-form button
{
    background: #eeeeee;
    border: 0;
    cursor: pointer;
    float: right;
    height: 40px;
    outline: none;
    padding: 0 10px;
    width: 3em;
}

#xkcd-form button:hover
{
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#xkcd-form button:active
{
    background: #e0e0e0;
}

#content-wrapper
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
}

#content
{
    background: #f9f9f9;
    box-sizing: content-box;
    color: #222222;
    flex: 1;
    font-family: "Times New Roman", serif;
    font-size: 16px;
    line-height: 2em;
    margin: 0;
    margin-left: calc(100vw - 100%);
    max-width: 100%;
    padding: 40px 80px;
    text-align: justify;
    width: 720px;
}

#content *
{
    max-width: 100%;
}

#content h1
{
    margin: 0 0 0.5em 0;
    line-height: 2em;
}

#content a
{
    color: #6e7b91;
}
#content figure
{
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}

#content ol,
#content ul
{
    padding: 0 2em;
}

#content li
{
    padding-left: 0.5em;
}

#content p
{
    font-size: 1em;
}

#content pre
{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.substitution
{
    background: #a5e9fa;
    cursor: help;
    display: inline-block;
    font-variant: small-caps;
    line-height: 1em;
    padding: 0.25em 0.5em;
    position: relative;
}

.substitution::before,
.substitution::after
{
    font-size: 14px;
    opacity: 0;
    position: absolute;
    transition: 0.1s ease;
    transition-delay: 0ms;
    z-index: 1000;
}

.substitution::before
{
    content: "";
    border: 0.5em solid transparent;
    border-top-color: #444444;
    height: 0;
    left: calc(50% - 0.5em);
    top: -0.5em;
    width: 0;
}

.substitution::after
{
    background: #444444;
    color: #ffffff;
    content: attr(title);
    font-variant: normal;
    font-weight: normal;
    left: 50%;
    line-height: 2em;
    padding: 0 1em;
    text-align: center;
    top: -2.5em;
    transform: translateX(-50%);
    white-space: nowrap;
}

.substitution:hover::before,
.substitution:hover::after
{
    opacity: 0.9;
}
