@font-face
{
    font-family: xkcd;
    src: url(xkcd-Regular.otf);
}

body
{
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #96a8c8;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

header
{
    background: #6e7b91;
    color: #ffffff;
    left: 0;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header > div
{
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

#logo
{
    font-family: Helvetica, Arial, Sans-Serif;
}

#logo > a
{
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

#logo .xkcd-font
{
    font-size: 0.5em;
}

.xkcd-font
{
    font-family: xkcd;
}

#xkcd-form
{
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    text-align: right;
}

#url-input
{
    border: 0;
    box-sizing: padding-box;
    height: 40px;
    padding: 0 1em;
    width: 420px;
}

#url-input:focus:-moz-placeholder
{
    color: #aaaaaa;
}

#url-input:focus::-moz-placeholder
{
    color: #aaaaaa;
}

#url-input:focus:-ms-input-placeholder
{
    color: #aaaaaa;
}

#url-input:focus::-webkit-input-placeholder
{
    color: #aaaaaa;
}

#url-input:focus ~ button
{
    background: #e4e4e4;
}

#xkcd-form button
{
    float: right;
    height: 40px;
    padding: 0 10px;
    width: 3em;
}

#xkcd-form button:disabled
{
    background: #eeeeee;
}

button
{
    background: #eeeeee;
    border: 0;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    padding: 0.5em 1em;
    text-decoration: none;
}

button:active
{
    background: #e0e0e0;
}

button:hover
{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

button:disabled
{
    background: #cccccc;
    cursor: default;
}

button:disabled:hover
{
    box-shadow: none;
}

#content-wrapper
{
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    margin-top: 80px;
    padding: 0;
    width: 100%;
}

#content
{
    background: #f9f9f9;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    color: #222222;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-family: "Times New Roman", serif;
    font-size: 16px;
    line-height: 2em;
    margin: 0;
    max-width: 100%;
    padding: 40px 80px;
    text-align: justify;
    width: 720px;
}

#content *
{
    max-width: 100%;
}

#content h1
{
    margin: 0 0 0.5em 0;
    line-height: 2em;
}

#content a
{
    color: #6e7b91;
}

#content figure
{
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}

#content ol,
#content ul
{
    padding: 0 2em;
}

#content li
{
    padding-left: 0.5em;
}

#content p
{
    font-size: 1em;
}

#content pre
{
    white-space: pre-wrap;
    word-wrap: break-word;
}

#intro section
{
    width: 100%;
}

#intro section:nth-of-type(2)
{
    background: rgba(130, 180, 220, 0.2);
    margin: 2em 0 1em -80px;
    padding: 1em 80px;
}

hr
{
    background-color: #dddddd;
    border: 0;
    height: 1px;
}

.substitution
{
    background: #a5e9fa;
    cursor: help;
    display: inline-block;
    font-variant: small-caps;
    line-height: 1em;
    padding: 0.25em 0.5em;
    position: relative;
}

.substitution::before,
.substitution::after
{
    font-size: 14px;
    opacity: 0;
    position: absolute;
    transition: 0.1s ease;
    transition-delay: 0ms;
    z-index: 1000;
}

.substitution::before
{
    content: "";
    border: 0.5em solid transparent;
    border-top-color: #444444;
    height: 0;
    left: calc(50% - 0.5em);
    top: -0.5em;
    width: 0;
}

.substitution::after
{
    background: #444444;
    color: #ffffff;
    content: attr(title);
    font-variant: normal;
    font-weight: normal;
    left: 50%;
    line-height: 2em;
    padding: 0 1em;
    text-align: center;
    top: -2.5em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}

.substitution:hover::before,
.substitution:hover::after
{
    opacity: 0.9;
}

.example .new-title
{
    display: none;
}

.example .controls
{
    margin: 1em 0 1.5em;
}

.example .controls button > span
{
    margin-left: 0.5em;
}

.example .controls button + button
{
    margin-left: 0.5em;
}

.example h3
{
    margin-bottom: 0.5em;
}
