{% extends "base.html" %}
{% block content %}
<div id="intro">
    <section>
        <h1>What Is This?</h1>
        <p>Are you not entertained by the news? Here's a little thingy that makes reading the news more fun. It substitutes certain phrases in an article with more amusing alternatives.</p>
        <p>The idea comes from a particular series of comics from <a href="https://xkcd.com/">xkcd</a>.</p>
        <p>
            <a href="https://xkcd.com/1288/">Link 1</a>
            <a href="https://xkcd.com/1625/">Link 2</a>
            <a href="https://xkcd.com/1679/">Link 3</a>
        </p>
    </section>
    <section>
        <h1>How Does It Work?</h1>
        <ol>
            <li>Copy and paste an article URL into the text box.</li>
            <li>Enter or click the button to process the article.</li>
            <li>Have fun reading the resulting article with substitutions!</li>
        </ol>
    </section>
    {% if examples %}
    <section>
        <h1>Examples</h1>
        <p>Not sure where to start? Try using some of these articles.</p>
        {% for example in examples %}
        <hr>
        <div class="example">
            <h3>
                <span class="old-title">{{ example['old_title'] }}</span>
                <span class="new-title">{{ example['new_title'] }}</span>
            </h3>
            <a href="{{ example['url'] }}">{{ example['url'] }}</a>
            <div class="controls">
                <button class="preview" type="button" autocomplete="off">
                    <i class="fa fa-eye"></i>
                    <span>Preview</span>
                </button>
                <button class="convert" type="button">
                    <i class="fa fa-clipboard"></i>
                    <span>Substitute Article</span>
                </button>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}
</div>
{% endblock %}
