{% extends "base.html" %}
{% block header %}
<div>
<h1>xkcd <span class="xkcd-font">Substitutions</span></h1>
<form id="xkcd-form" action="/generate" method="POST">
    <input id="url" name="url" type="text" placeholder="Enter URL here..." />
    <button type="submit">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <span class="sr-only">Generate</span>
    </button>
</form>
</div>
{% endblock %}
{% block content %}
<h1>What is this?</h1>
<p>Some blurb about how this works...</p>
{% endblock %}
